{% extends "layout.html" %}
{% block content %}
{% include 'index.html' %}
<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="text-center p-2 h4">Add a news</div>
                {{ form.hidden_tag() }}
                <form method="post" enctype="multipart/form-data">
                <div>
                    {{ form.name(class="form-control", placeholder='Name') }}
                </div>
                <br>
                    <div class="row">
                        {% if getnews %}

                        <div class="col-md-4"> <input type="file" name="img" id="img">
                            <a href="{{url_for('static',filename='images/' + getnews.img)}}"> images/{{ getnews.img}}</a>
                        </div>

                        {% else %}
                        <div class="col-md-4">{{ form.img() }}</div>
                        {% endif %}
                    </div>
                <br>    
                <p><input type="submit" value="{% if getnews %}Update {% else %}Add{% endif %} banner" class="btn btn-outline-info">
                </form>
            </div>
      <div class="col-md-1"></div>
    </div>
</div>
{% endblock content %}