{% extends 'layout.html' %}

{% block content %}
{% include 'index.html' %}

<div class="container">
    <table class="table tbale-sm">
        <thead>
            <th>Sr</th>
            <th>Ady</th>
            <th>Suraty</th>
            <th>Dogrula</th>
            <th>Pozmak</th>
        </thead>
        <tbody>
          {% for banner in banners %}
          <tr>
            <td>{{ banner.id }}</td>
            <td>{{ banner.name }}</td>
            <td><img src="{{url_for('static',filename='images/' + banner.img)}}" alt="{{banner.name}}" width="80" height="60" style="object-fit: contain;"></td>
            <td><a href="{{url_for('updatebanner', id=banner.id)}}" class="btn btn-sm btn-info">Dogrula</a></td>
            <td><button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#exampleModal-{{banner.id}}">
              Pozmak
            </button></td>
          </tr>


<!--============= MODEL ===================-->
      <div class="modal fade" id="exampleModal-{{banner.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">{{banner.name }}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p class="text-danger">Siz ({{ banner.name }}) pozmak isleyarsinizmi? </p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Yok</button>
              <form action="{{url_for('deletebanner',id=banner.id)}}" method="post">
                <button type="submit" class="btn btn-danger">Hovva</button>
              </form>

            </div>
          </div>
        </div>
      </div>
<!--==============MODEL ===================-->

          {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}