{% extends "layout.html" %}

{% block content %}
<div style="border: 3px solid green;margin-left:30%;margin-top:15%; width: 30%;">
    <h1 align="center">Admin</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p align="center">
            {{ form.username.label }}<br>
            {{ form.username(class='form-control') }}<br>
        </p>
        <p align="center">
            {{ form.password.label }}<br>
            {{ form.password(class='form-control') }}<br>
        </p>
        <p align="center">{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p align="center">{{ form.submit(class='btn btn-sm btn-outline-success') }}</p>
    </form>
</div>
{% endblock %}